:root {
	--vp-cdm-red: #e83e3f;

	--vp-c-brand: var(--vp-cdm-red);
	--vp-c-brand-light: var(--vp-cdm-red);
	--vp-c-brand-lighter: var(--vp-cdm-red);
	--vp-c-brand-dark: var(--vp-cdm-red);
	--vp-c-brand-darker: var(--vp-cdm-red);

	--vp-local-search-highlight-bg: var(--vp-cdm-red);
}
